[Unit]
Description=The FITHINATOR

[Service]
# native
#ExecStart=/usr/bin/python3 -m fithinator -c /boot/fithinator.yml
# venv
ExecStart=/home/pi/.fithinator/bin/python3 -m fithinator -c /boot/fithinator.yml
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
